
*{
    margin: 0%;
}

body{
    font-family:'Avenir Next LT Pro',sans-serif;
    max-width: 1280px;
    margin: auto;
}

/*navbar*/

div .navbar{
    height: 64px;
}

.navbar img{
    display:inline;
    margin-left: 24px;
    margin-top: 20px;
    height: 32px;
}

.navbar a{
    display: inline;
    font-size: 24px;
    margin: 8px;
}

.navbar p{
    display: inline;
    font-size: 32px;
}

/*banner*/

#banner-contianer{
    display:flex;
    align-items:center;
    padding: 32px 24px;
    background-color: rgb(211, 211, 211);
}

#banner-container img{
    width:60%;
}

#banner-contianer #banner-text{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-left:24px;
}

#banner-container #banner-text h1 {
    margin-top: 24px;
    color: rgb(69, 69, 69);
  }

#banner-contianer #banner-text p{
    color: rgb(71, 71, 71);
    margin-top:24px;
}

#banner-contianer #banner-text bottom{
    color: white;
    background-color: rgb(74, 74, 74);
    border: unset;
    padding:8px 0px;
    margin-top: 24px;;
}

/*information*/

#information-container{
    display:flex;
    align-items:center;
    padding: 32px 24px;
    background-color: rgb(255, 255, 255);
}

#information-container img{
    width: 60%;
}

#information-container #information-text{
    color: rgb(71, 71, 71);
    margin-top: 32px;
}

#information-container #information-text h1{
    margin-top: 32px;
}

#information-container #information-text p{
    color: rgb(71, 71, 71);
    margin-top: 24px;
    margin-bottom: 40px;
}

#information-container #information-text bottom{
    margin-top: 32px;
}

#information-container-aside {
    display: flex;
    width: 40%;
}

#information-container-aside #information-orientation-text,
#information-campus-text,#information-guset-lecture-text{
    width: 65;
    margin: 8px 0px;
}

#information-container-aside #information-orientation-img #img-desktop{
    width: 35%;
    height: auto;
    margin:16px 16px;
}

#information-container-aside #information-orientation-img #img-mobile{
    display:none;
}

#information-container-aside #information-campus-img #img-desktop{
    width: 35%;
    height: auto;
    margin:16px 16px;
}

#information-container-aside #information-campus-img #img-mobile{
    display:none;
}

#information-container-aside #information-guest-lecture-img #img-desktop{
    width: 35%;
    height: auto;
    margin:16px 16px;
}

#information-container-aside #information-guest-lecture-img #img-mobile{
    display:none;
}

/*coures*/

#course-container{
    margin: 32px 72px;
}
#course-container h1{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top:0px;
    margin-bottom: 32px;
    color: rgb(71, 71, 71);
}
